.container {
  height: 100vh;
  width: 100%;
  background: url("https://wallpapercave.com/wp/6SLzBEY.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text h1 {
  color: #011718;
  margin-top: -200px;
  font-size: 15em;
  text-align: center;
  text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7), -10px 10px 0 rgba(0, 0, 0, 0.4),
    -15px 15px 0 rgba(0, 0, 0, 0.2);
  font-family: monospace;
  font-weight: bold;
}

.text h2 {
  color: black;
  font-size: 5em;
  text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: -150px;
  font-family: monospace;
  font-weight: bold;
}

.text h3 {
  color: white;
  margin-left: 30px;
  font-size: 2em;
  text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
  margin-top: -40px;
  font-family: monospace;
  font-weight: bold;
}

.torch {
  position: fixed;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  border-radius: 50%;
  pointer-events: none;

  box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.97);
  background: rgba(0, 0, 0, 0.3);
}

.torch::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 40px 2px #000, 0 0 20px 4px rgba(13, 13, 10, 0.2);
}
